<md-content layout="column" layout-fill>

    <div flex="30" layout-padding>


        <a href="#/result/lm">
            LM Result testing</a>

        <h1>R-Hack</h1>

        <h2>An easy way to run R on your browser!</h2>


    </div>



    <div flex layout-padding>


        <fieldset>
            <legend>Select a model: </legend>
            <md-radio-group ng-model="LandingController.data">
                <md-radio-button value="LinearRegression" onclick="loadButtons();" name="radio-1" id="radio-1"> Linear Regression</md-radio-button>
                <!-- <md-radio-button value="nb" onclick="loadButtons();" name="radio-2" id="radio-2"> Naive Bayes </md-radio-button>
                <md-radio-button value="km" onclick="loadButtons();" name="radio-3" id="radio-3"> K-Means</md-radio-button> -->
            </md-radio-group>
            <p>Selected Value:
                <span class="radioValue">{{ LandingController.data }}</span>
            </p>
        </fieldset>
        <br>
        <br>

        <div id="template-buttons" style="visibility: hidden;">
            <fieldset>
                <md-button class="md-raised" ng-click="LandingController.downloadTemplate(LandingController.data)">Download Template</md-button>
                <md-button class="md-raised" onclick="downloadTemplate();">Upload Template</md-button>
            </fieldset>


            <md-input-container ng-show="!UploadTargetRatesCtrl.showWaiting">
                <div id="dropArea" flex>Drop a rate template file here to see and upload data</div>

            </md-input-container>


            <pre>
                {{LandingController.sheetData}}
    
        </pre>

        </div>



        <h1>A Very Simple DPU</h1>

        <button id="submitbutton">Calculate Standard Deviation</button>


    </div>







</md-content>