/* body {background-color: #bdbdbd; color: #3a3a3a} */

#dropArea{
    border:2px dashed #bbb;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    padding:30px;
    text-align:center;
    background-color: #ffffff;
    /**font:20pt bold,"Vollkorn";*/
    color:#a09d9d;
}